body {
	background-color: #f5f5f5;
}

.header h2 {
	color: rgb(84, 211, 80);
}

.header p {
	color: rgb(147, 231, 108);
}

.results {
	margin-top: 20px;
}
#movie-container{
	display: flex;
	flex-direction: row;
	flex-flow: wrap;
}
.movie{
	height: 50vh;
	width: 18vw;
	margin: 20px;
	background-color: #516756ba;
	border-radius: 5px;
	text-align: center;
}
.movie button{
	background-color: #359e4d;
	color: white;
	border-radius: 5px;
	border: none;
	margin: 0 15px
}
.imageDiv {
	width:80%;
	height: 60%;
	margin: 10px auto
}
.imageDiv img{
	height: 100%;
	width: 100%;



}
.title{
	color: white;
	overflow: hidden;
	padding: 10px 15px 0 15px;
	height: 10%

}
.releaseDate{
	color: white;
	padding: 5px 15px;
	font-family: serif;
}
.search-bar-wrapper{
	display: flex;
	flex-direction: row;
	margin-top: 10px;
}
a {
	text-decoration: none;
	color: white;

	
}
.favorites-btn {
	margin: 10px;
	border-radius: 5px;
}
.btn {
	color: white;
	background-color:#463e3e;
}
.btn:hover {
	background-color: #463e3e96;
}
.btn:active {
	outline: none;
	border: none;
}
.search-container {
	margin-top: 15px;

}
a:hover {
	text-decoration: none;
	color: white;
}

